body {
line-height: 1.5;
  
background-color: #f9f9f9;
color: #333333;
  
width: 980px;
margin: 0 auto;
  }
.head {
font-size: 30px;
color: darkred;
}
.head2 {
    font-size: 25px;
    color: brown;
}
.skills {
    font-size: 15px;
    color: rgba(68, 0, 255, 0.513);
}
.head-section h2 {
color: aqua;
}